* text=auto eol=lf
*.png binary
*.svg text eol=lf

# Licence texts are reproduced, not authored. Git's end-of-line normalisation
# would rewrite bytes in a file whose whole purpose is to be the upstream
# document unaltered, so they are marked binary and pass through untouched.
licenses/** -text
LICENSE -text
NOTICE -text
